.container {
  background-color: rgba(153, 153, 153, 0.795);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .wrapper {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.wrapper p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.wrapper span {
  font-size: 12px;
  margin-top: 15px;
}

.wrapper a {
  color: #333;
  font-size: 13px;
  margin: 15px 0 10px;
}

.wrapper button {
  background-color: rgb(255, 13, 13);
  color: #fff;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 45px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.wrapper button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.wrapper form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.wrapper input{
    background-color: #eee;
    border: none;
    margin:  8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.wrapper .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.wrapper.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.wrapper.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 20%;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 50%;
    width: 50%;
    z-index: 100;
    overflow: hidden;
    border-radius: 20px;
}

.wrapper.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 20px;
}

.toggle{
    background-color: rgba(255, 4, 4, 0.952);
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out; 
    width: 200%;
}

.wrapper.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.wrapper.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}